@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer utilities {
  .thumb-tack {
    @apply absolute top-1 left-1/2 -translate-x-1/2 w-6 h-6 rounded-full z-20 shadow-md cursor-grab;
    background: radial-gradient(circle at 8px 8px, #e74c3c 80%, #b03a2e 100%);
  }
  .sticky-note {
    @apply decoration-0 text-black block h-[10em] w-[10em] shadow-lg;
  }
}
.droppable-zone {
  z-index: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
